.cardContainer {
  width: 300px;
  padding: 10px;
  background-color: rgb(185, 141, 83);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardContainer > img {
  width: 300px;
}
