* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #e5e3e3;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Define styles for dark mode */
body.dark-mode {
  --background-color: #3c3c3c; /* dark mode background color */
  --text-color: #f5f5f5; /* dark mode text color */
}

.page {
  background-color: rgb(133, 109, 109);
  width: 100vw;
  height: 100%;
}
.top-nav {
  width: 100%;
  color: hsl(200, 20%, 95%);
  background: hsl(8, 93%, 29%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav-list {
  margin: 0;
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: stretch;
}

.nav-list a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.nav-list a:hover,
.nav-list a:focus {
  text-decoration: underline;
}

.nav-text-large {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  width: 490px;
  justify-content: space-between;
}
.nav-Img {
  width: 60px;
  height: 60px;
}
.home-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.welcomeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.welcomeTitle {
  height: 200px;
  justify-content: space-between;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 5px 10px 5px 10px;
  background-color: hsl(8, 80%, 35%);
  color: white;
  border-radius: 0.8rem;
  text-decoration: none;
}
.pokedexBtn {
  padding: 5px 10px 5px 10px;
  background-color: hsl(0, 2%, 90%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultsContainer > h1 {
  margin-bottom: 20px;
}
.resultsContainer > button {
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.title {
  margin-bottom: 20px;
}

.captureContainer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.captureContainer > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.recentSearchListContainer {
  margin-top: 40px;
}
.redText {
  color: rgb(255, 86, 86);
}
.greenText {
  color: rgb(40, 199, 40);
}
.hoverInfo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: antiquewhite;
}

.errorContainer {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.errorMessage {
  color: red;
}
.hpContainer {
  display: flex;
  align-items: center;
}
.typeContainer {
  display: flex;
  position: relative;
}
.typeInfoContainer {
  position: absolute;
  background-color: rgb(213, 213, 213);
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  top: 43px;
  left: 0px;
  z-index: 1000;
  padding: 3px;
  transition: all 0.5s ease-in;
  opacity: 100;
  border: 1px solid black;
}
.invisTypeInfoContainer {
  opacity: 0;
  position: absolute;
  background-color: rgb(213, 213, 213);
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  top: 43px;
  left: 0px;
  z-index: 1000;
  padding: 3px;
}
.triangle {
  background-color: rgb(213, 213, 213);
  position: absolute;
  z-index: 1000;
  width: 10px;
  height: 10px;
  top: -5px;
  left: 17px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(45deg);
}

/* Mobile styles */
@media (max-width: 767px) {
  .top-nav {
    width: 100vw;
    color: hsl(200, 20%, 95%);
    background: hsl(0, 0%, 0%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 10px 10px 10px 10px;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 10000;
  }

  .nav-list {
    margin: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: stretch;
    font-size: 0.2rem;
  }

  .nav-list a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }

  .nav-list a:hover,
  .nav-list a:focus {
    text-decoration: underline;
  }

  .nav-text-large {
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
  }
  .nav-Img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .welcomeContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .welcomeTitle {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-bottom: 20px;
  }
  .btn {
    padding: 5px 10px 5px 10px;
    background-color: hsl(8, 80%, 35%);
    color: white;
    border-radius: 0.8rem;
    text-decoration: none;
  }
  .pokedexBtn {
    padding: 5px 10px 5px 10px;
    background-color: hsl(0, 2%, 90%);
    border-radius: 0.8rem;
    text-decoration: none;
  }

  .resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
  }
  .resultsContainer > h1 {
    margin-bottom: 20px;
  }
  .captureStatus {
    font-size: 1.2rem;
  }
  .captureContainer > p {
    font-size: 1.2rem;
  }
}
